/*
* Responsive Styles for Responsive Layout Tech degree Project
* 21/2/2017 - Written by Umeadi Ikem
*/



@media only screen and  (min-width: 480px) {

    /**********************************
    **** Header & Navigation Styles ***
    **********************************/
    .nav {
        padding-bottom:20px;
    }

    .nav ul {
        text-align: center;
        margin:24px 0 auto;
    }

    .nav ul li {
        display:inline-block;
        margin: 0 0 0 15px;
    }

    .logo {
        margin-bottom: 0;
    }

    /*************************
    ****  Main Content   *****
    **************************/

    #home {
        height: 280px
    }

    .profile > img {
        max-width:40%;
        display:inline;
        float:right;
        margin:0;

    }

    .profile > p {
        max-width:55%;
        padding-top:2px;
        text-align:left;

    }

    /*************************
    **** Portfolio Section  **
    **************************/
    .portfolio-list > li {
        margin-right: -4px;
        max-width: 47%;
    }

    .portfolio-list > li:nth-child(odd) {
        padding-left:0;
    }

    .portfolio-list > li:nth-child(even) {
        padding-right:0;
    }

    /*************************
     **** Skills Section  ****
     **************************/
    .skills-list {

    }

    .skills-list li {
        display:inline-block;
        max-width:45%;
        padding-left:0;
        padding-right:0;
    }


    .css-logo, .js-logo, .ps-logo, .php-logo, .mysql-logo, .html5-logo {
        max-width:45%;
    }


    /*************************
    **** Footer Section  **
    **************************/

    footer > div > p {
        max-width: 70%;
        padding-left:18%;
        margin-top:30px;
    }

    .footer-nav {
        display:block;
    }

    .top-link {
        opacity:0;
    }


    .footer-nav ul li {
        margin-right: 15px;
        font-weight:bold;
        text-transform: uppercase;
    }
}





@media only screen and  (min-width: 768px) {

    /**********************************
    **** Header & Navigation Styles ***
    **********************************/

    .logo {
        text-align: initial;
        display: inline-block;
    }

    .nav {
        float: right;
        margin-top:10px;
        padding-bottom:0;

    }

    .nav ul li > a:hover {
        border-bottom:2px solid white;
        padding-bottom:20px;
        transition: all .5s;
    }


    /*************************
    ****  Main Content   *****
    **************************/

    #home {
        height: 350px;
    }

    .profile {
        margin-top:50px;
    }

    .profile > p {
        max-width:65%;
    }

    .profile > img {
        max-width:32%;
        max-height:29%;
    }


    /*************************
    **** Portfolio Section  **
    **************************/

    .portfolio-list > li {
        max-width: 31%;
        padding-right:0.8rem;
        padding-left:0.8rem;
    }

    .portfolio-list > li:nth-child(odd) {
        padding-left:0.8rem;
    }

    .portfolio-list > li:nth-child(even) {
        padding-right:0.8rem;
    }

    .portfolio-list > li:nth-child(4n) {
        padding-left:0;
    }

    .portfolio-list > li:nth-child(3n) {
        padding-right: 0;
    }

    .portfolio-list > li:last-of-type {
        padding-right:0;
    }

    .portfolio-list > li:first-of-type {
        padding-left:0;
    }


    /*************************
     **** Skills Section  **
     **************************/

    #skills {
        height:300px;

    }

    .skills-list {
        margin:20px 0;
        padding:40px 0 0;
    }

    .skills-list  li {
        display: inline-block;
        margin-top:0;
        margin-right: 60px;
        width:initial;
    }

    .css-logo, .js-logo, .ps-logo, .php-logo, .mysql-logo, .html5-logo {
        max-width:200px;
        max-height:120px;
    }

    /*************************
   **** Footer Section  **
   **************************/

    .footer-nav {
        display:block;
    }

    .top-link {
       display:none;
    }

    .top-link:hover {
        display:none;
    }

    .footer-logo {
        margin-top:0;
    }

    .footer-nav ul {
        margin-top: 0;
    }

}





@media only screen and  (min-width: 1024px) {

    .profile > img {
        max-width:32%;
        height:200px;
    }

    /*************************
   **** Portfolio Section  **
   **************************/

    .portfolio-list > li {
        padding-right:0.69rem;
        padding-left:0.69rem;
    }

}


