/*
*   Styles for Responsive Layout
*   Treehouse Techdegree Certificate
*   21/2/2017
*/

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700|Sacramento');

/*************************
*******Typography******
**************************/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', "Helvetica Neue", sans-serif;
    color:#413d3d;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', sans-serif;
}

/*************************
***** Structural Styles ***
**************************/

ul li {
    list-style: none;
}

a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    text-decoration: none;

}


i:hover, a:hover {
    outline: none;
    text-decoration:none;
}

.container {
    max-width:1200px;
    margin:0 auto;
    padding:10px;
}

.clearfix::after {
    content:"";
    display:table;
    clear:both;
}



/**********************************
**** Header & Navigation Styles ***
**********************************/

header {
    background-color:#240826;
}

.logo {
    font-family: 'Sacramento', cursive;
    text-align:center;
    letter-spacing: 3px;
    margin-bottom:30px;
    font-size: 2rem;
}

.logo > a {
    color:#fa023c;
}




.nav ul {
    padding:0;
}

.nav ul li {
    display:block;
    text-align:center;
    margin:1.5rem auto;
    font-weight:bold;
    text-transform: uppercase;
}

.nav ul li > a {
    color:white;
}




/*************************
****  Main Content   *****
**************************/

.profile-content {
    background-color: rgba(217,218,222,0.2);
    height: 400px;
}

.profile > img {
    margin:20px auto;
    max-width:70%;
    display:block;
    padding:0 10px 0 10px;
}

.profile > p {
    text-align: center;
    max-width: 96%;
    margin-top:30px;
}

/*************************
**** Portfolio Section  **
**************************/

.portfolio-list {
    padding: 0;
    margin-top:3rem;
}

.portfolio-list > li {
    display:inline-block;
    vertical-align:top;
    padding-left: 15px;
    padding-right: 15px;
}

.portfolio-list > li > h3 {
    text-align: center;
    text-transform:capitalize;

}

.portfolio-list > li > img {
    max-width:100%;

}

.portfolio-list > li > p {
    width: 90%;
    padding-right: 5%;
    padding-left: 5%;
    text-align: center;
    margin-bottom: 3.5rem;
}

.footer > div h3, #portfolio > div > h3 {
    text-align:center;
    text-transform: uppercase;
    margin-top: 4rem;
}



/*************************
**** Skills Section  **
**************************/

#skills {
    background-color:rgba(217,218,222,0.9);
    height:auto;
    margin:80px 0;
}

.skills-heading {
    text-align: center;
    color:#413d3d;
    text-transform: uppercase;
    margin-bottom:5rem;
}

.skills-list {
    padding:0;
    margin:50px 0 0;

}

.skills-list li {
    vertical-align:top;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 4.5rem;

}



.skills-list li:last-child {
    margin-right:0;
}

.css-logo, .js-logo, .ps-logo, .php-logo, .mysql-logo, .html5-logo {
    max-width: 35%;
    margin: 0 auto;
    display: block;
}


/*************************
**** Footer Section  **
**************************/

#contact {
    background-color: #150017;
    color:white;
}


footer {
    margin-top: 2rem;
}

footer h3 {
    text-align:center;
    text-transform: uppercase;
    margin-top:45px;
}

footer > div > p {
    margin-bottom:10px;
    text-align: center;
    max-width:93%;
}

footer > div > h4:first-of-type {
    margin-top:35px;
    margin-bottom:15px;
}

footer > div > h4 {
    text-align: center;
    font-size:1.1rem;
    margin-top:10px;
}

footer > div > h4 > i {
    margin-right:10px;
}

.footer-logo {
    display:inline-block;
    text-align:left;
    margin-top:0;
}

.footer-logo > a {
    color:#fa023c;
}

.footer-nav {
    float:right;
    display:none;
    padding-top: 4px;
}


.footer-nav ul {
    padding:0;
    margin-top: 0;
}

.footer-nav ul li {
    display:inline-block;
}

.top-link,.top-link:hover {
    display:block;
    text-decoration: underline;
    color:white;
    padding-right:10px;
}

.bottom {
    padding-top:50px;
    padding-bottom:30px;
}

.bottom h4 {
    float:right;
    text-transform: uppercase;
    margin-top:2px;
}